<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card shadow">
         <div class="card-header">
          <h5 class="card-title">Registro de Materia</h5>
        </div>
        <div class="card-body">
          <form action="/course/register" method="POST">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" name="nombre" class="form-control" placeholder="Ingrese el nombre." autofocus required>
            </div>
            <div class="mb-3">
              <label for="nivel" class="form-label">Nivel</label>
              <input type="text" name="nivel" class="form-control" placeholder="Ingrese el nivel." required>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-success w-100">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>