 <div class="d-flex h-100 flex-column flex-shrink-0 p-3 bg-light shadow" style="width: 280px;">
    <a href="/question/list" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="/icon/home.ico" class="bi me-2" alt="Juegarobix" width="40" height="32">
      <span class="fs-4">Juegarobix</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="mb-1">
        <a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#question-collapse" aria-expanded="false">
          <img class="bi me-2" width="16" height="16" src="/icon/question.ico" alt="question" >
          Preguntas
        </a>
        <div class="collapse" id="question-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="/question/list" class="link-dark rounded">
                Lista
              </a>
            </li>
            <li>
              <a href="/question/register" class="link-dark rounded">
                Registro
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/student/score-list" class="nav-link link-dark">
          <img class="bi me-2" width="16" height="16" src="/icon/student.ico" alt="student" >
          Estudiantes
        </a>
      </li>
      <li class="mb-1">
        <a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#course-collapse" aria-expanded="false">
          <img class="bi me-2" width="16" height="16" src="/icon/book.ico" alt="course" >
          Materias
        </a>
        <div class="collapse" id="course-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/course/list" class="link-dark rounded">Lista</a></li>
            <li><a href="/course/register" class="link-dark rounded">Registro</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/icon/user.ico" alt="user" width="32" height="32" class="rounded-circle me-2">
        <strong>{{user.nombre}}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
      </ul>
    </div>
</div>


{{!-- <nav class="navbar navbar-expand-lg shadow navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/question/list">Juegarobix</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Preguntas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/question/list">
                Listar
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="/question/register">
                Registrar
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/score-list">Estudiantes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Materias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/course/list">
                Listar
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="/course/register">
                Registrar
              </a>
            </li>
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}


