<div class="container p-4">
  <div class="col-md-7 col-lg-8 mx-auto">
    <div class="card shadow">
      <div class="card-header">
        <h4 class="mb-3 card-title">Registro de preguntas</h4>
      </div>
      <div class="card-body">
        <form class="needs-validation" action="/question/register" method="POST" novalidate>
          <div class="row g-3">
            
            <div class="col-sm-6">
              <label for="pregunta" class="form-label">Pregunta</label>
              <input type="text" class="form-control" name="pregunta" placeholder="Ingrese la pregunta." value="" autofocus required>
              <div class="invalid-feedback">
                Se requiere una pregunta válida.
              </div>
            </div>

            <div class="col-sm-6">
                <label for="materia" class="form-label">
                  Materia
                </label>
                  <select class="form-select" name="materia" required>
                    <option selected disabled value="">Seleccionar...</option>
                    {{#each list}}
                    <option value="{{id}}">{{nombre}} - {{nivel}}</option>
                    {{else}}
                    <option value="">No hay materias registradas.</option>
                    {{/each}}
                  </select>
                  <div class="invalid-feedback">
                    Seleccione un materia válida.
                  </div>
            </div>

            <div class="col-12">
              <label for="descripción" class="form-label">Descripción</label>
              <input type="text" class="form-control" name="descripcion" placeholder="Ingrese una descripción de la pregunta." required>
              <div class="invalid-feedback">                 
                La descripción es requerida.
              </div>
            </div>

             <hr class="my-4">

             <div class="col-sm-6">
                <label for="respuesta1" class="form-label">Respuesta 1</label>
               <div class="input-group">
                <input type="text" class="form-control" name="respuesta1" placeholder="Ingrese la respuesta." required>
                <div class="input-group-text">
                  <input class="form-check-input mt-0" name="correcta" value="0" type="radio" checked>
                </div>
                <div class="invalid-feedback">
                  Se requiere una respuesta válida.
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="respuesta2" class="form-label">Respuesta 2</label>
              <div class="input-group">
                <input type="text" class="form-control" name="respuesta2" placeholder="Ingrese la respuesta." required>
                <div class="input-group-text">
                  <input class="form-check-input mt-0" name="correcta" value="1" type="radio">
                </div>
                <div class="invalid-feedback">
                  Se requiere una respuesta válida.
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="respuesta3" class="form-label">Respuesta 3</label>
              <div class="input-group">
                <input type="text" class="form-control" name="respuesta3" placeholder="Ingrese la respuesta." required>
                <div class="input-group-text">
                  <input class="form-check-input mt-0" name="correcta" value="2" type="radio">
                </div>
                <div class="invalid-feedback">
                  Se requiere una respuesta válida.
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="respuesta4" class="form-label">Respuesta 4</label>
              <div class="input-group">
                <input type="text" class="form-control" name="respuesta4" placeholder="Ingrese la respuesta." required>
                <div class="input-group-text">
                  <input class="form-check-input mt-0" name="correcta" value="3" type="radio">
                </div>
                <div class="invalid-feedback">
                  Se requiere una respuesta válida.
                </div>
              </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Registrar</button>
        </form>
      </div>
    </div>    
  </div>
</div>