<div class="w-100 text-center">
  <main class="form-signin">
    <form action="/login" method="POST">
      <img
        class="mb-4"
        src="/icon/home.ico"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Inicio de Sesiòn</h1>

      <div class="form-floating">
        <input
          type="text"
          name="usuario"
          id="usuario"
          class="form-control"
          placeholder="Ingrese el usuario."
          required
        />
        <label for="usuario" class="form-label">Usuario</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          name="clave"
          id="clave"
          class="form-control"
          placeholder="Ingrese la clave."
          required
        />
        <label for="clave" class="form-label">Clave</label>
      </div>
      <div class="checkbox mb-3">
        <label>
          ¿No tego cuenta? <a href="/register">Registrar</a>
        </label>
      </div>
      <button type="submit" class="btn btn-lg btn-primary w-100">Iniciar Sesiòn</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>
</div>